
@font-face {
	font-family: 'Oxanium';
	src: url('../../fonts/Oxanium-SemiBold.woff2') format('woff2'),
		url('../../fonts/Oxanium-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Oxanium';
	src: url('../../fonts/Oxanium-Medium.woff2') format('woff2'),
		url('../../fonts/Oxanium-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Oxanium';
	src: url('../../fonts/Oxanium-Regular.woff2') format('woff2'),
		url('../../fonts/Oxanium-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Oxanium';
	src: url('../../fonts/Oxanium-Light.woff2') format('woff2'),
		url('../../fonts/Oxanium-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../../fonts/Poppins-Bold.woff2') format('woff2'),
		url('../../fonts/Poppins-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../../fonts/Poppins-Light.woff2') format('woff2'),
		url('../../fonts/Poppins-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../../fonts/Poppins-Italic.woff2') format('woff2'),
		url('../../fonts/Poppins-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Oxanium';
	src: url('../../fonts/Oxanium-Bold.woff2') format('woff2'),
		url('Oxanium-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../../fonts/Poppins-Medium.woff2') format('woff2'),
		url('Poppins-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../../fonts/Poppins-Regular.woff2') format('woff2'),
		url('../../fonts/Poppins-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

