body {
	font-size: 15px;
	font-family: $font-primary;
	color: $white;
}

.wrapper {
	max-width: 1230px;
	margin: 0 auto;
	width: 100%;
	@media only screen and (max-width: $xl) {
		padding: 0 20px;
	}
}

.container {
	max-width: 1230px;
}

