.footer {
	padding: 20px 0;
}
.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__container-text {
	font-weight: 500;
}
.footer__container-img {
	width: 340px;
	@media only screen and (max-width: $md) {
		width: 240;
	}
	@media only screen and (max-width: $sm) {
		display: none;
	}
}