// Fonts
$font-primary: 'Poppins', Arial, sans-serif;
$font-secondary: 'Oxanium', sans-serif;

// Widths
$lg: 1440px;
$md: 768px;
$sm: 375px;


// Colors
$black: #000;
$white: #fff;
$gray: #90949c;
$purple-dark: #140A1C;
$yellow: #E4A101;

$site-colors: (
	'black': $black,
	'white': $white,
	'purple-dark': $purple-dark
) !default;




